body, html{
    margin: 0;
    padding: 0;
}

header{
    background-color: beige;
    width: 100%;
    position: sticky;
    top: 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;    
}

/*nav bar*/
.logo a img{
    object-fit: contain;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav a li {
    display: inline;
    padding:50px;
    margin-left: 50px;
    list-style: none;
    font-size: 30px;    
}

.nav li:hover {
    background-color: #0367a3;
    color: #ddd;
}

#momma {
    display: flex;
    justify-content: space-between;
}

.langue1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    justify-content:space-around ;
    margin-left: 50px;
    margin-right: 50px;
}

.inscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}   
