body, html{
    margin: 0;
    padding: 0;
 
   
}

header{
    width: 100%;
    position: sticky;
    top: 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

/*nav bar*/

.nav {
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
        
}
li {
    display: inline;
    padding:50px;
    margin-left: 50px;
    list-style: none;
    font-size: 30px;    
}

.nav li:hover {
    background-color: #0367a3;
    color: #ddd;
}

#momma {
    display: flex;
    justify-content: space-between;
}

.langue1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    justify-content:space-around ;
    margin-left: 50px;
    margin-right: 50px;
}

.inscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}  

/* CSS Formulaire */


form{
    text-align: center;
    font-size: 30px;
}

input{
    border-radius: 25px;
    width: 25%;
    height:50px;
}
input:focus{
    border: #eaaf65 solid 5px;
    border-radius: 25px;
}

form>div{
    margin:25px;
}
::placeholder{
    text-align: center;
}
form>div:last-child>input{
    background-color: #eaaf65;
}
form>div:last-child>input:hover{
    background-color: #1ebceb;
}
