body, html{
    margin: 0;
    padding: 0;

}

header{
    width: 100%;
    position: sticky;
    top: 0px;
    display:flex;
    flex-direction: row;
    background-color: beige;
    height: 16vh;
}

/*nav bar*/
header #logo{
    height:100%;
    width:25vw;
}

.nav {
    background-color: lawngreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.nav a li {
    display: inline;  
    list-style: none;
    padding:1em;
    margin: 1em;
    font-size: 2em;    
}

.nav li:hover {
    background-color: #0367a3;
    color: #ddd;
}

#momma{
    background-color: mediumpurple;
    display:flex;
    flex: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;  
    justify-items: center;
    height:100%;
    width:15vw;
        
}

#inscription{
    grid-column: 1;
    grid-row: 2;
    margin: 10%;
}

#connexion{
    grid-column: 1;
    grid-row: 1;
    margin: 10%;
}
#french {
    grid-column: 2;
    grid-row: 1;
    margin: 2%;
    padding: 2%;
}

#english{
    grid-column: 2;
    grid-row: 2;
    margin: 2%;
    padding:2%
}

/* ---------------------------------------------------------------
Barre de recherches
-------------------------------------------------------------------*/

.barre_recherche{
    margin: auto;
    text-align: center;
  
}
.barre_recherche input {
    height: 5vh;
    width: 25vh;
}


/*
#momma {
    display: flex;
    justify-self: flex-end;
    justify-content: space-between;
    align-content: space-around;
}

.langue1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    justify-content:space-around ;
 
}

.inscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}   

*/


/* articles*/


article{
    border:#0367a3 solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.container{
    margin:150px;
}
.container article{
    display:flex;
    flex-direction:column; 
    align-items: center;
    background-color: aqua;  
}


