/*-------------------------------------------------
Barre de navigation
--------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
body, html{
    margin: 0;
    padding: 0;
    
}

header{
    width: 100%;
    position: sticky;
    top: 0px;
    display:flex;
    flex-direction: row;
    background-color:#fbaf53;
    height: 16vh;
   font-family: 'Grechen Fuemen', cursive;
}

header #logo{
    height:100%;
    width:25vw;
}

.nav {
    background-color: #fbaf53;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.nav a li {
    display: inline;  
    list-style: none;
    padding:1em;
    margin: 1em;
    font-size: 2em;    
}

.nav li:hover {
    background-color: #0367a3;
    color: #ddd;
}

#momma{
    background-color:#fbaf53;
    display:flex;
    flex: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;  
    justify-items: center;
    height:100%;
    width:15vw;
        
}

#inscription{
    grid-column: 1;
    grid-row: 2;
    margin: 10%;
}

#connexion{
    grid-column: 1;
    grid-row: 1;
    margin: 10%;
}
#french {
    grid-column: 2;
    grid-row: 1;
    margin: 2%;
    padding: 2%;
}

#english{
    grid-column: 2;
    grid-row: 2;
    margin: 2%;
    padding:2%
}

/* ---------------------------------------------------------------
Barre de recherches
-------------------------------------------------------------------*/

.barre_recherche{
   display: flex;
   align-items: center; 
   justify-content: center;
  
}
.barre_recherche input {
    height: 5vh;
    width: 25vw;
    text-align: center; 
}

/*-----------------------------------------------------------------
 Articles généraux
 ------------------------------------------------------------------*/


article{
    border:#0367a3 solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.container{
    margin:150px;
}
.container article{
    display:flex;
    flex-direction:column; 
    align-items: center;
    background-color: #1ebceb;  
}

/*--------------------------------------------------------------------
séries
-------------------------------------------------------------------*/
#bleach, #db, #mha, #naruto, #op, #ss{
    height:15vh;
    width:25vw;
}

/*--------------------------------------------------------------------
auteurs
-------------------------------------------------------------------*/
#t_k, #a_t, #k_h, #m_k, #e_o, #m_ku{
    height:30vh;
    width:15vw;
}
#profil{
   display: grid;
   grid-template-columns: 1fr 5fr;
    background-color: coral;
}
#membre, #list{
   justify-self: center;
   align-self: center;
}