body{
    background-color: rgba(30, 188, 235, 0.3);
}
form{
    text-align: center;
    font-size: 30px;
}

/* CSS Formulaire */
input{
    border-radius: 25px;
    width: 25%;
    height:50px;
}
input:focus{
    border: #eaaf65 solid 5px;
    border-radius: 25px;
}

form>div{
    margin:25px;
}
::placeholder{
    text-align: center;
}
form>div:last-child>input{
    font-size: 30px;
    background-color: #eaaf65;
}
form>div:last-child>input:hover{
    background-color: #1ebceb;
}

p{
    text-align: center;
    font-size: 30px;
}